<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h3>Shree Krishna Steel Udhyog<span>.</span></h3>
                    <p [innerHTML]="c.ADDRESS"></p>
                    <br>
                    <strong>Phone:</strong> {{c.EMAIL}}
                    <br>
                    <strong>Email:</strong> {{c.PHONE}}
                </div>

                <div class=" col-lg-4 col-md-6 footer-links ">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right "></i> <a href="# ">Home</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="#about ">About us</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="#product ">Product</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="#gallery ">Gallery</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="#infrastructure ">Infrastructure</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="#contact ">Contact</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links ">
                    <h4>Our Products</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right "></i> <a href="#gallery ">Alternator,startor and AC Compressors</a></li>
                        <li><i class="bx bx-chevron-right "></i> <a href="#gallery ">Scrap Dismantling</a></li>

                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4 ">
        <div class="copyright ">
            &copy; Copyright <strong><span>Shree Krishna Steel Udhyog</span></strong>. All Rights Reserved | Designed by <a target="blank " href="http://thinktreksolutions.in/ ">thinktrek solutions</a> </div>
        <div>
        </div>
        <div class="credits "><strong><span>Visitors</span></strong>

        </div>
    </div>
</footer>