<!-- ======= About Section ======= -->
<section id="about">
    <div class="container" data-aos="fade-up">
        <div class="row">
            <div class="col-lg-6 about-img">
                <img src="assets/img/about.jpeg" alt="">
            </div>

            <div class="col-lg-6 content about">
                <h2>About {{c.NAME}}</h2>
                <h3>{{c.NAME}}, founded in 2014, specialised in iron and steel, ferrous and nonferrous metals, motors, transformers, copper and aluminium, and other metals.</h3>
                <br>
                <br>
                <!-- <ul>
                    <li><i class="bi bi-check-circle"></i> To achieve satisfactory requirements of markets.</li>
                    <li><i class="bi bi-check-circle"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                    <li><i class="bi bi-check-circle"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</li> 
                </ul>-->

            </div>
        </div>

    </div>
</section>
<!-- End About Section -->