<section id="about" class="about section-bg1">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <!-- <h2>About</h2> -->
            <h3>About <span>Shree Krishna Steel Udhyog</span></h3>
            <!-- <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p> -->
        </div>

        <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <img src="assets/img/about.jpeg?v=2" class="img-fluid" alt="">
                <!-- <img src="assets/img/ab.jpeg" class="img-fluid" alt=""> -->
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <!-- <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3> -->
                <p class="text-start">
                    Shree Krishna Steel Udhyog, founded in 2010, specialised in iron and steel, ferrous and nonferrous metals, motors, transformers, copper and aluminium, and other metals.
                    <!-- /*Silicon Steel Stampings*/ -->
                    <!-- Shree Krishna Steek Udhyog, established 2010, is one of the oldest Import & Export Trading & Indenting House in India, dealing in Iron & Steel, Non-Ferrous Metals, Minor Metals, Ferro Alloys, Scrap Metals, Castings & Forgings, Industrial Foundry Raw-Materials,
                    Ores & Concentrates etc. -->
                </p>
                <ul class="text-start">
                    <li>
                        <i class="bx bx-store-alt"></i>
                        <div>
                            <h5>Our Mission</h5>
                            <p>To achieve satisfactory requirements of markets</p>

                            <!-- <p>To become leading importer and exporter in ferrous & nonferrous materials</p> -->
                            <!-- <p>To become a major ferrous and nonferrous material importer and exporter.</p> -->
                        </div>
                    </li>
                </ul>

            </div>
        </div>

    </div>
</section>