<section id="gallery">
    <div class="container" data-aos="fade-up">
        <div class="section-header">
            <h2>gallery</h2>
            <p>We import various kind of electrical appratus equipment scrap and dismantle, segregation and bifurcation of various grade of metals</p>
        </div>



        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="{{ 'col-lg-4 col-md-6 portfolio-item '+ photo.type }}" *ngFor="let photo of products">
                <ng-container *ngIf="photo.type=='m'">
                    <a href="{{ 'assets/img/gallery/manufacture/'+photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                        <img src="{{ 'assets/img/gallery/manufacture/'+photo.url }}" class="img-fluid" alt="">
                    </a>
                </ng-container>
                <ng-container *ngIf="photo.type=='a'">
                    <a href="{{ 'assets/img/gallery/asc/'+photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                        <img src="{{ 'assets/img/gallery/asc/'+photo.url }}" class="img-fluid" alt="">
                    </a>
                </ng-container>
                <ng-container>
                    <a href="{{ 'assets/img/gallery/dismantling/'+photo.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link">
                        <img src="{{ 'assets/img/gallery/dismantling/'+photo.url }}" class="img-fluid" alt="">
                    </a>
                </ng-container>

            </div>

        </div>




    </div>
</section>
<!-- End Services Section -->