<!-- ======= hero Section ======= -->
<main id="main">
    <section id="hero">

        <div class="hero-content" data-aos="fade-up">
            <h2>Shree Ram Exports</h2>
            <p><span> Our company deals in Ferrous and Non Ferrous Metals</span></p>
            <div>
                <a routerLink="product" class="btn-get-started scrollto">Our Products</a>
                <a routerLink="contact" class="btn-projects scrollto">Contact Us</a>
            </div>
        </div>

        <div class="hero-slider swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/1.jpg');"></div>
                <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/2.jpg');"></div>
                <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/3.jpg');"></div>
                <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/4.jpg');"></div>
                <div class="swiper-slide" style="background-image: url('assets/img/hero-carousel/5.jpg');"></div>
            </div>
        </div>

    </section>
    <app-about></app-about>
</main>